html, body {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccc;
}

.container {
  width: 100%;
  height: 100%;
}

.places-container {
  background-color: rgb(188, 227, 241);
  width: 300px;
  height: auto;
  z-index: 2;
  position: absolute;
  -webkit-transform: translate(-300px, 0);
  -moz-transform: translate(-300px, 0);
  -ms-transform: translate(-300px, 0);
  -o-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
}

.places-container.open {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.map-container {
  width: 100%;
  height: 95%;
  z-index: 1;
}

@media screen and (min-width: 600px) {
  .places-container {
    position: relative;
    transform: translate(0, 0);
  }
  .container {
    display: flex;
    flex-flow: row nowrap;
  }
  .map-container {
    width: auto;
    flex-grow: 1;
  }
  #close-btn {
    display: none;
  }
}

#close-btn, #close-window {
  float: right;
  margin: 10px;
}

#places-list {
  font-size: 16px;
}

.place {
  padding-bottom: 5px;
  padding-top: 5px;
}

.place-window {
  background-color: white;
  width: 300px;
  height: auto;
  z-index: 3;
  position: absolute;
  left: 10px;
  top: 150px;
  border: 2px solid gray;
}

.place-window.close {
  display: none;
}

input {
  font-size: 16px;
}

h3 {
  padding-left: 10px;
  padding-top: 10px;
}

h4, h5 {
  padding-left: 10px;
  margin-bottom: 1em;
}

select {
  font-size: 16px;
}

.filter {
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
}

.highlight {
  background-color: rgba(255, 255, 0, 0.6);
}

.place-img {
  width = 200px;
  padding-left: 25px;
}

.place-info, .foursquare-container, .wikipedia-container {
  font-size: 14px;
  padding-left: 25px;
}

.attributions {
  font-size: 12px;
  padding-left: 10px;
}

#navbar {
  height: 50px;
  background-color: green;
}

.menu-btn {
  width: 48px;
  font-size: 30px;
  margin: 0;
  padding: 7px 10px 7px 10px;
}

/* fontawesome */
[class*="fa-"]:before {
  font-family: "FontAwesome", sans-serif;
  color: black;
}

#map {
  height: 97%;
}
