html, body {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #CCC;
}

.container {
  width: 100%;
  height: 100%;
}

.places-container {
  background-color: rgb(188, 227, 241);
  width: 300px;
  height: 100%;
  z-index: 2;
  position: absolute;
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
}

.places-container.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.map-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media screen and (min-width: 600px) {
  .places-container {
    position: relative;
    transform: translate(0, 0);
  }
  .container {
    display: flex;
    flex-flow: row nowrap;
  }
  .map-container {
    width: auto;
    flex-grow: 1;
  }
  #close-btn {
    display: none;
  }
}

#close-btn {
  float: right;
  margin: 5px;
}

input {
  font-size: 12px;
}

h3 {
  padding-left: 10px;
  padding-top: 10px;
}

h4 {
  padding-left: 10px;
}

select {
  margin-left: 50px;
}

.highlight {
  background-color: rgba(255, 255, 0, 0.6);
}

.place-img {
  width = 250px;
  padding-left: 25px;
}

#navbar {
  height: 40px;
  background-color: green;
}

.menu-btn {
  width: 20px;
  margin: 0;
  padding: 10px;
}

/* fontawesome */
[class*="fa-"]:before {
  font-family: "FontAwesome", sans-serif;
  color: black;
}

#map {
  height: 100%;
}
